/* .comics-board-container {
   
} */

.comics-container {
    display: flex;
    flex-wrap: wrap;
}

.pagination-bar{
    margin: 0px 10%;
    justify-content: center;
}

.pagination-button{
    margin-left: 10px;
}

.pagination-button.active {
    border: 1px solid red;
    color: red;
}

.comics-container{
    margin: 0px 10%;
}

.comic-board-header{
    position: relative;
    padding: 0px 10%;
}

.comic-board-header .comic-board-header-body{
    display: flex;
    height:80px;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0px 10px;
    z-index:99;
}

.comic-board-header .comic-board-header-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    left:0px;
    height:80px;
    padding: 0px 10%;
    opacity: 0.6;
    background-color: black;
    z-index: 100;
}