.card {
    background-color: rgb(23, 4, 4);;
    width: 14em;
    border-radius: 2px;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    color: white;
    box-shadow: 2px 5px 6px 1px black, 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .card img {
    width: 100%;
    height: 18vh;
    object-fit: cover;
  }
  
  .card h2 {
    color: #222;
    margin-top: -0.2em;
    line-height: 1.4;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
  }
  
  .card p {
    color: white;
  }
  
  .card-body {
    padding: 1.2em;
  }

.card .comic-info {
    display: flex;
    justify-content: space-between;
}

.comic-info * {
    font-size: small;
}

.comic-info .comic-issue {
    color: yellow;
}