.avatar{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.persona-checked-container{
 position: absolute;
 top:0;
 z-index: 100;
 display: flex;
 justify-content: center;
 align-items: center;
 backdrop-filter: blur(5px);
 
}

.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.persona-checked-container .check{
  display: inline-block;
  transform: rotate(45deg);
  height: 30px;
  width:15px;
  border-bottom: 2px solid turquoise;
  border-right: 2px solid turquoise;
  z-index: 100;
}

.avatar-container{
  z-index: 99;
  position: relative;
  cursor: pointer;
}

